# Titanic - Machine Learning from Disaster

Introdução ao Projeto: Previsão de Sobrevivência no Titanic


Olá a todos!

Sejam bem-vindos a este projeto prático de Classificação em Machine Learning, onde embarcaremos em uma jornada para desvendar um dos eventos mais intrigantes da história: o naufrágio do Titanic.

Nosso objetivo principal aqui é aplicar os conceitos da classificação para construir um modelo que possa prever a sobrevivência de passageiros. Usaremos um dataset clássico, que contém informações detalhadas sobre cada indivíduo a bordo, como idade, sexo, classe da passagem e local de embarque.

Ao longo deste notebook, vamos trilhar as etapas essenciais de um projeto de Machine Learning, focando em:

Preparação dos Dados: Onde vamos organizar as informações e fazer os ajustes necessários para que nosso modelo possa "entendê-las".

Construção e Avaliação do Modelo: Aqui, exploraremos como treinar um modelo de classificação e como avaliar sua performance usando métricas importantes, como a acurácia, para verificar o quão bem ele está fazendo suas previsões.

Estou animado para compartilhar essa análise com vocês e mostrar como o Machine Learning pode nos ajudar a extrair informações de dados históricos. Vamos começar!

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_df.shape

(891, 12)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
# Renomeando a coluna 'Sex' para valores números que serão usados no treinamento do modelo
train_df['Sex'] = train_df['Sex'].map({'female': 0, 'male': 1})
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Verificação dos valores nulos
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
# Substituição dos valores null pela média de idade
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())

# Substituição dos valores null pela média do preço do bilhete
train_df['Fare'] = train_df['Fare'].fillna(train_df['Fare'].mean())

In [8]:
# Conversão da idade para int
train_df['Age'] = train_df['Age'].astype(int)

#Dropando as colunas que não serão usadas
train_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare
0         0       3    1   22      1      0   7.2500
1         1       1    0   38      1      0  71.2833
2         1       3    0   26      0      0   7.9250
3         1       1    0   35      1      0  53.1000
4         0       3    1   35      0      0   8.0500

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    int64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [10]:
train_df.shape

(891, 7)

# Dummy Classifier

In [11]:
# Importa a classe DummyClassifier do módulo dummy do sklearn.
# O DummyClassifier é um classificador de "linha de base" (baseline).
# Ele não aprende com os dados, mas serve como um ponto de comparação simples
# para avaliar se um modelo real está performando melhor do que um chute ou uma regra trivial.
from sklearn.dummy import DummyClassifier

# Importa a função accuracy_score do módulo metrics do sklearn.
# Usada para calcular a acurácia do modelo, que é a proporção de previsões corretas.
from sklearn.metrics import accuracy_score

# Importa a função train_test_split do módulo model_selection do sklearn.
# Essencial para dividir o conjunto de dados em subconjuntos de treino e teste,
# garantindo que o modelo seja avaliado em dados que ele não viu durante o treinamento.
from sklearn.model_selection import train_test_split

In [12]:
# --- Preparação dos Dados ---

# 'train_df' é o DataFrame carregado do arquivo train.csv (o dataset principal do Titanic).

# Cria 'train_x_complete' removendo a coluna 'Survived' do DataFrame original.
# 'train_x_complete' conterá todas as características (features) que o modelo usará para aprender.
train_x_complete = train_df.drop('Survived', axis=1)

# Cria 'train_y_complete' selecionando apenas a coluna 'Survived' do DataFrame original.
# 'train_y_complete' é a variável alvo (o que queremos prever: se o passageiro sobreviveu ou não).
train_y_complete = train_df['Survived']

# Define uma semente para o gerador de números aleatórios.
# Isso garante que a divisão dos dados (treino/teste) seja a mesma a cada execução do código,
# tornando os resultados reproduzíveis.
SEED = 20

# Divide os dados completos em conjuntos de treino e teste.
# train_x: features para treinar o modelo.
# test_x: features para testar o modelo (dados não vistos).
# train_y: targets para treinar o modelo.
# test_y: targets reais para comparar com as previsões do modelo no teste.
# 'random_state=SEED' garante a reprodutibilidade da divisão.
train_x, test_x, train_y, test_y = train_test_split(train_x_complete, train_y_complete, random_state=SEED)

# Imprime o tamanho dos conjuntos de treino e teste.
# Ajuda a verificar se a divisão ocorreu conforme o esperado.
print(f"We will trained with {len(train_x)} samples.")
print(f"And test with {len(test_x)} samples.")

We will trained with 668 samples.
And test with 223 samples.

In [13]:
# --- Treinamento e Avaliação do Dummy Classifier ---

# Instancia o DummyClassifier com a estratégia 'most_frequent'.
# Isso significa que ele sempre prevê a classe que aparece com mais frequência
# no conjunto de treino. É uma baseline simples e importante para comparar.
dummy_clf = DummyClassifier(strategy='most_frequent')

# Treina o DummyClassifier. Embora ele não "aprenda" no sentido tradicional,
# ele precisa ver os dados de treino para identificar a classe mais frequente.
dummy_clf.fit(train_x, train_y)

# Faz previsões no conjunto de teste.
# Todas as previsões serão a classe mais frequente identificada no treino.
prediction = dummy_clf.predict(test_x)

# Calcula a acurácia comparando as previsões do DummyClassifier com os valores reais (test_y).
# O resultado é multiplicado por 100 para ser exibido como porcentagem.
accuracy = accuracy_score(test_y, prediction) * 100

# Imprime a acurácia do Dummy Classifier formatada para duas casas decimais.
# Este valor é sua linha de base: qualquer modelo real deve ter uma acurácia superior a esta.
print(f'The accuracy was {accuracy:.2f}%')

The accuracy was 63.68%

In [14]:
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(train_x_complete, train_y_complete, random_state=SEED)

print(f"We will trained with {len(train_x)}")
print(f"And test with {len(test_x)}")

scaler = StandardScaler()
scaler.fit(train_x)
train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

model_LinearSVC = LinearSVC()
model_LinearSVC.fit(train_x, train_y)
prediction = model_LinearSVC.predict(test_x)

accuracy = accuracy_score(test_y, prediction) * 100
print(f'The accuracy was {accuracy:.2f}%')

We will trained with 668
And test with 223
The accuracy was 80.72%

# Kaggle Test

In [15]:
test_df = pd.read_csv('test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
test_df.shape

(418, 11)

In [17]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [18]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [19]:
test_df['Sex'] = test_df['Sex'].map({'female': 0, 'male': 1})

In [20]:
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())
test_df['Age'] = test_df['Age'].astype(int)
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].mean())

test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22,1,1,3101298,12.2875,NaN,S

In [21]:
passenger_id = test_df['PassengerId'].copy()

In [22]:
test_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
test_df.head()

   Pclass  Sex  Age  SibSp  Parch     Fare
0       3    1   34      0      0   7.8292
1       3    0   47      1      0   7.0000
2       2    1   62      0      0   9.6875
3       3    1   27      0      0   8.6625
4       3    0   22      1      1  12.2875

In [23]:
survivors_prediction = model_LinearSVC.predict(test_df)
survivors_prediction

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but LinearSVC was fitted without feature names
  warnings.warn(

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [24]:
kaggle_submition = pd.DataFrame({'PassengerId': passenger_id, 'Survived': survivors_prediction})
kaggle_submition.csv = kaggle_submition.to_csv('kaggle_submition.csv', index=False)

Arquivo submetido no Kaggle para avaliação da performance do modelo. Resultado da acurácia foi de 64,35%. Muitas técnicas poderiam ser utilizadas para melhorar melhorar a acurácia deste modelo, vale ressaltar que se trata de um projeto introdutório em Machine Learning, onde foi aplicado conceitos iniciais para fixação